<ion-header>
  <ion-toolbar>
    <ion-title>Toy Story</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="banner">
  <div class="info-banner">
    <h2>Toy Story</h2>
    <p>2010</p>
 <ion-button fill="outline" color="light" size="small">Trailer</ion-button>
 <ion-button color="danger" size="small">Assistir</ion-button>
  </div>
</div>

<ion-item color="medium">
  <div class="info ion-text-center">
    <span class="tipo">G</span><span class="duracao">1h 40m</span>
    <p>Animação, Família, Comédia</p>
  </div>
</ion-item>


<ion-item color="dark">
  
  <div>
    <h2>Sinopse</h2>
    <p>Os brinquedos são entregues por engano em uma creche em vez de
       no sótão logo antes de Andy partir para a faculdade, e cabe a Woody 
       convencer os outros brinquedos de que eles não foram abandonados e
       voltar para casa.</p>
  </div>
</ion-item>
</ion-content>