<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header routerLink="/the100">
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/cfhfcEt4bOXuVZkTC0nNBpqqiWb.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>The 100<span> (2014)</span></h1>
    </ion-item>
    
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">43m</span>
        <p>Sci-Fi & Fantasy, Drama, Action & Adventure</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Noventa e sete anos após uma guerra mundial nuclear, a raça humana está vivendo no espaço. 
          Cem delinquentes juvenis são enviados à Terra para ver se o planeta está em condições de ser
          habitado novamente.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header routerLink="/brooklyn-nine-nine">
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/yMeyZHAlakxTRGJT0hp96Zz2Xfw.jpg">
    </ion-card-header>
    
    <ion-item color="dark">
      <h1>Brooklyn Nine-Nine <span> (2013)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">21m</span>
        <p>Comédia, Crime</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>O brilhante e imaturo detetive Jake Peralta precisa aprender a 
          seguir as regras e trabalhar em equipe quando um capitão exigente 
          assume o comando de seu esquadrão.</p>
      </div>
    </ion-item>
  </ion-card>

 <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/9gJdcRTY8gegadrknIKD9VmMBEW.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Dead To Me<span>(2019)</span></h1>
    </ion-item>
    
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span><span class="duracao">30m</span>
        <p>Drama, Mistério, Crime</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Uma viúva furiosa procura quem estava ao volante do carro que 
          matou seu marido e fica amiga de uma otimista excêntrica 
        – mas ela não é bem o que parece.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/bgbQCW4fE9b6wSOSC6Fb4FfVzsW.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Black List <span>(2013)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">43m</span>
        <p>Drama, Crime, Mistério</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Após se entregar à polícia, um brilhante
          fugitivo oferece ajuda ao FBI, mas apenas se a novata Elizabeth Keen for sua parceira.</p>
      </div>
    </ion-item>
  </ion-card>

 

</ion-content>