<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span><span class="duracao">44m</span>
        <p>Drama, Sci-fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris,
          mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/8b4X7cFOagllHuERcefvDpECwDz.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Lista Negra <span>(2013)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">43m</span>
        <p>Drama, Crime, Mistério</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Após se entregar à polícia, um brilhante
          fugitivo oferece ajuda ao FBI, mas apenas se a novata Elizabeth Keen for sua parceira.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/hpU2cHC9tk90hswCFEpf5AtbqoL.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Os Simpsons<span>(1989)</span></h1>
    </ion-item>
    
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span><span class="duracao">22m</span>
        <p>Animação, Comédia</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. 
          Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz
          em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que 
          adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua
          chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também 
          habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, 
          a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/original/p8ui5q1MATtCznbWLtNFiusmN8R.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>The 100<span>(2014)</span></h1>
    </ion-item>
    
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">43m</span>
        <p>Sci-Fi & Fantasy, Drama, Action & Adventure</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Noventa e sete anos após uma guerra mundial nuclear, a raça humana está vivendo no espaço. 
          Cem delinquentes juvenis são enviados à Terra para ver se o planeta está em condições de ser
          habitado novamente.</p>
      </div>
    </ion-item>
  </ion-card>

</ion-content>