<ion-header>
  <ion-toolbar>
    <ion-title>Brooklyn Nine Nine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>Brooklyn Nine Nine</h2>
      <p>2013  7 temporadas</p>
   <ion-button color="danger" size="small">Assistir</ion-button>
   <ion-button fill="outline" color="light" size="small">Episódios</ion-button> 
  </div>
  </div>

  <ion-grid>
    <h1>Temporadas</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/4E6T0Pmg2iQQRBL52HXsjbx9xcR.jpg">
        <h1>1ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://1.bp.blogspot.com/-v-4kocv8530/VY3TffYdpPI/AAAAAAAABYE/r-vGk01NBzE/s1600/Brooklyn-Nine-Nine-Season-2.jpg">
        <h1>2ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/zD5gOZoNcoKY7IXHfYg0JPWRA63.jpg">
        <h1>3ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/pt/5/53/Brooklyn_Nine-Nine-4.jpg">
        <h1>4ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/7tTvREykun6WeGJ4hy7sCG9TOeP.jpg">
        <h1>5ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/A3SymGlOHefSKbz1bCOz56moupS.jpg">
        <h1>6ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/dzj0oLZWe3qMgK4jlgdKWPVxxIx.jpg">
        <h1>7ª temporada</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
