<ion-header>
  <ion-toolbar>
    <ion-title>Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="banner">
  <div class="info-banner">
    <h2>Carros</h2>
    <p>2006</p>
 <ion-button fill="outline" color="light" size="small">Trailer</ion-button>
 <ion-button color="danger" size="small">Assistir</ion-button>
  </div>
</div>

<ion-item color="medium">
  <div class="info ion-text-center">
    <span class="tipo">G</span><span class="duracao">1h 57m</span>
    <p>Animação, Aventura, Comédia, Família</p>
  </div>
</ion-item>

<ion-item color="dark">
  
  <div>
    <h2>Sinopse</h2>
    <p>Ao viajar para a Califórnia, o famoso carro de corridas Relâmpago McQueen se perde 
      e vai parar em Radiator Springs, uma 
      cidadezinha na Rota 66. Ele conhece novos amigos e aprende lições que mudam sua forma 
      de encarar a vida.</p>
  </div>
</ion-item>
</ion-content>
