<ion-header>
  <ion-toolbar>
    <ion-title>The 100</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="info-banner">
      <h2>The 100</h2>
      <p>2014  7 temporadas</p>
   <ion-button color="danger" size="small">Assistir</ion-button>
   <ion-button fill="outline" color="light" size="small">Episódios</ion-button> 
  </div>
  </div>

  <ion-grid>
    <h1>Temporadas</h1>
    <ion-row>
      <ion-col>
        <img src="https://upload.wikimedia.org/wikipedia/pt/2/27/The_100_Temporada_1_Poster.jpg">
        <h1>1ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://i.pinimg.com/originals/14/af/87/14af87b913c0ba0a2e027b625ca391a8.jpg">
        <h1>2ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/ekvuOiMSvimULQaun7G0TUJ158l.jpg">
        <h1>3ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/i6t4kQNAZ12CXQHDW9DusPxZsdw.jpg">
        <h1>4ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wHIMMLFsk32wIzDmawWkYVbxFCS.jpg">
        <h1>5ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wBzNjurA8ijJPF21Ggs9nbviIzi.jpg">
        <h1>6ª temporada</h1>
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/yau8NlGyBdiuVtaAQzYUQT0WV1z.jpg">
        <h1>7ª temporada</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
